<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueCommerceTemplate</title>
    <link rel="stylesheet" href="./styles.css">
</head>

<body>
    <div id="app">
        <header>
            <h3>Vue Commerce Template</h3>
            <button class="cart" v-on:mouseover="cartOpen=!cartOpen">Carro {{cart.length}}</button>
            <div class="cart-content" v-show="cartOpen">
                <div class="cart-content__product" v-for="(product,index) in cart" :key="product.name" :class="{'bg-gray': index & 1}">
                    <img v-bind:src="product.images[0].thumbnail" alt="">
                    <span> 
                        {{product.name.toUpperCase()}} 
                        $ {{new Intl.NumberFormat("es-CO").format(product.price)}}
                        {{product.stock ===0 ? 'Agotado' : ''}}
                        ({{product.quantity}})
                    </span>
                </div>
            </div>
        </header>
        <main>
            <product v-for="product in products" :key="product.name"></product>
        </main>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script>
        const {
            createApp,
            ref,
            reactive,
            toRefs
        } = Vue;
        const app = createApp({
            setup() {

                const cartState = reactive({
                    cart: [],
                    cartOpen: false
                });

                return {
                    ...toRefs(cartState),
                    products
                }

            }
        });
    </script>
    <script src="./product.js"></script>

    <script>
        app.mount("#app");
    </script>
</body>

</html>